<!DOCTYPE html>
<html lang="en">

<%- include('header') %>


  <body class="">
    <div class="wrapper">
      <%- include("sidebar") %>

        <div class="main-panel">
          <%- include("navbar") %>
            <div class="content">
              <div class="row">
                <div class="col-12">
                  <div class="card card-chart">
                    <div class="card-header ">
                      <div class="row">
                        <div class="col-sm-6 text-left">
                          <h5 class="card-category">Payment Panel</h5>
                          <h2 class="card-title">Rider's Payments </h2>
                        </div>
                        <div class="col-sm-6">

                        </div>

                        <div class="row mt-5">
                          <div class="errors">
                            <!-- <button class="cancelError" onclick="cancelButton()"> &times; </button> -->
                          </div>
                          <div class="successMsg">

                          </div>

                          <div class="col-md-12 ml-5">

                            <form method="post" class="card card-body  p-4" style="background-color: #ab9200;">
                              <div class="input-group">
                                <h3 style="text-transform: uppercase;">
                                  ADD <%= records.firstname %>, <%= records.surname %> Payment's
                                </h3>
                              </div>


                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Rider's-ID</span>
                                </div>
                                <input type="text" name="recordId" class="form-control" readonly
                                  value="<%= records._id %>">

                              </div>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Fullname</span>
                                </div>
                                <input type="text" name="fullname" class="form-control" readonly
                                  value="<%= records.surname %> <%= records.firstname %>">

                              </div>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Amount</span>
                                </div>
                                <input type="text" name="amount" class="form-control">

                              </div>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Month</span>
                                </div>
                                <input type="text" name="month" class="form-control">

                              </div>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Year</span>
                                </div>
                                <input type="text" name="year" class="form-control">

                              </div>
                              <button type="submit" class="btn btn-danger justify-content-center">Submit</button>
                            </form>

                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>

            </div>
            <%- include('footer') %>
        </div>
    </div>
    <%- include("plugin") %>
      <%- include("scripter") %>

        <script>


          const cancelButton = () => {
            setTimeout(() => {

              errorsClass.style.visibility = "hidden";
              successMsg.style.visibility = "hidden";
            }, 10000)
          }


          const successFunc = (mess) => {
            successMsg.style.visibility = "visible";
            successMsg.textContent = mess
            cancelButton()
            return
          }

          const errorFunc = (mess) => {
            errorsClass.style.visibility = "visible";
            errorsClass.textContent = mess
            cancelButton()
            return
          }
          const refreshFunc = () => {
            setTimeout(function () { window.location.reload() }, 4000)
          }
        </script>

        <script>
          let form = document.querySelector('form')
          const errorsClass = document.querySelector('.errors')
          const successMsg = document.querySelector('.successMsg')

          form.addEventListener('submit', async (e) => {
            e.preventDefault()

            const recordId = form.recordId.value;
            const fullname = form.fullname.value;
            const amount = form.amount.value;
            const month = form.month.value;
            const year = form.year.value;


            try {

              const response = await fetch("/admin/add_payments", {
                body: JSON.stringify({ fullname, recordId, amount, year, month }),
                headers: { "Content-Type": "application/json" },
                method: "POST"
              })
              const data = await response.json()
              if (data.info) {
                successFunc(` ${data.info.name} data was captured successfully `)
                refreshFunc()
              }

              if (data.mess) {
                errorFunc(` error ${data.mess}`)
              }

            } catch (e) {

            }
          })

        </script>
  </body>

</html>