<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

  <body class="">
    <div class="wrapper">
      <%- include("sidebar") %>

        <div class="main-panel">
          <%- include("navbar") %>
            <div class="content">
              <div class="row">
                <div class="col-12">
                  <div class="card card-chart">
                    <div class="card-header ">
                      <div class="row">
                        <div class="row mt-5">
                          <div class="errors">
                            <!-- <button class="cancelError" onclick="cancelButton()"> &times; </button> -->
                          </div>
                          <div class="successMsg">

                          </div>

                          <div class="col-md-12 ml-5">

                            <form method="post" class="card card-body  p-4">
                              <div class="input-group">
                                <h3>
                                  CREATE RIDER'S ACCOUNT
                                </h3>
                              </div>

                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Firstname</span>
                                </div>
                                <input type="text" name="firstname" class="form-control" placeholder="enter firstname">

                              </div>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Surname</span>
                                </div>
                                <input type="text" name="surname" class="form-control" placeholder="enter surname">
                              </div>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">email</span>
                                </div>
                                <input type="text" name="email" class="form-control" placeholder="email@email.com">
                              </div>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Phone Number</span>
                                </div>
                                <input type="text" name="phone" class="form-control" placeholder="+23409048388489">
                              </div>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Gender</span>
                                </div>
                                <input type="text" name="gender" class="form-control" placeholder="single or married?">
                              </div>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Marital Status</span>
                                </div>
                                <input type="text" name="maritalStatus" class="form-control"
                                  placeholder="single or married?">
                              </div>

                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Blood Group</span>
                                </div>
                                <input type="text" name="bloodGroup" class="form-control" value=""
                                  placeholder="enter blood group">
                              </div>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Disabilities</span>
                                </div>
                                <input type="text" name="disability" class="form-control" value=""
                                  placeholder="Hint: nil or lame">
                              </div>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Next Of Kin</span>
                                </div>
                                <input type="text" name="nextOfKin" class="form-control" value=""
                                  placeholder="Hint: nil or lame">
                              </div>

                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"> Address</span>
                                </div>
                                <input type="text" name="address" class="form-control" value=""
                                  placeholder="enter address">
                              </div>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"> State of Origin</span>
                                </div>
                                <input type="text" name="stateOrigin" class="form-control" value=""
                                  placeholder="enter state of origin">
                              </div>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"> Local of Origin</span>
                                </div>
                                <input type="text" name="localGovtOrigin" class="form-control" value=""
                                  placeholder="local goverment of origin">
                              </div>

                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"> Passport</span>
                                </div>
                                <input type="file" name="passport" id="passport" class="form-control" value=""
                                  accept="image/*">
                              </div>

                              <button type="submit" class="btn btn-danger  justify-content-center">Submit</button>
                            </form>

                          </div>
                        </div>
                      </div>

                      <div class="row mt-5">

                        <div class="col-lg-12 col-md-12">
                          <div class="card ">
                            <div class="card-header" style="background-color: #ae9400;">
                              <h4 class="card-title"> VIEW RECORDS</h4>
                            </div>
                            <% if(records !=null){ -%>
                              <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table tablesorter " id="">
                                    <thead class=" text-primary">
                                      <tr>

                                        <th class="text-center">
                                          Passport
                                        </th>
                                        <th>
                                          FirstName, Surname
                                        </th>
                                        <th>
                                          Napep-Number
                                        </th>
                                        <th>
                                          Email/Phone
                                        </th>
                                        <th>
                                          State/Local-Goverment of Origin
                                        </th>
                                        <th>
                                          Marital-Status/ Gender /Blood Group
                                        </th>
                                        <th>
                                          Controls
                                        </th>

                                      </tr>
                                    </thead>
                                    <tbody>
                                      <% records.forEach( rec=> { -%>
                                        <tr>
                                          <td>
                                            <img src="/assets/img/<%= rec.passport %>"
                                              style="height:100px; width:150px" />

                                          </td>
                                          <td>
                                            <%= rec.firstname %> , <%= rec.surname %>
                                          </td>
                                          <td>
                                            <%= rec.napepNumber %>
                                          </td>
                                          <td>
                                            <%= rec.email %>
                                              <%= rec.phone %>
                                          </td>
                                          <td>
                                            State of Origin: <%= rec.stateOrigin %> </br>
                                              Local Goverment: <%= rec.localGovtOrigin %> </br>
                                          </td>
                                          <td>
                                            Marital Status: <%= rec.maritalStatus %> </br>
                                              Gender: <%= rec.gender %> </br>
                                                bloodGroup: <%= rec.bloodGroup %> </br>
                                          </td>
                                          <td>

                                            <a href="/admin/record_single/<%= rec._id %>">
                                              <button type="button" rel="tooltip" title="" class="btn btn-link"
                                                data-original-title="Decrypt">
                                                <i class="tim-icons icon-pencil"></i>
                                                Payments
                                              </button>
                                            </a>
                                          </td>

                                        </tr>
                                        <% }) %>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <% } else { -%>
                                <h6>No record captured yet</h6>
                                <% } -%>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
            <%- include('footer') %>
        </div>
    </div>
    <%- include("plugin") %>
      <%- include("scripter") %>
        <script>

          const cancelButton = () => {
            setTimeout(() => {

              errorsClass.style.visibility = "hidden";
              successMsg.style.visibility = "hidden";
            }, 10000)
          }


          const successFunc = (mess) => {
            successMsg.style.visibility = "visible";
            successMsg.textContent = mess
            cancelButton()
            return
          }

          const errorFunc = (mess) => {
            errorsClass.style.visibility = "visible";
            errorsClass.textContent = mess
            cancelButton()
            return
          }
          const refreshFunc = () => {
            setTimeout(function () { window.location.reload() }, 4000)
          }
        </script>

        <script>
          let form = document.querySelector('form')
          const errorsClass = document.querySelector('.errors')
          const successMsg = document.querySelector('.successMsg')
          const inputFile = document.getElementById('filex');

          form.addEventListener('submit', async (e) => {
            e.preventDefault()

            const firstname = form.firstname.value.trim();
            const surname = form.surname.value.trim();
            const email = form.email.value.trim();
            const phone = form.phone.value.trim();
            const nextOfKin = form.nextOfKin.value.trim();
            const gender = form.gender.value.trim();
            const maritalStatus = form.maritalStatus.value.trim();
            const address = form.address.value.trim();
            const stateOrigin = form.stateOrigin.value.trim();
            const bloodGroup = form.bloodGroup.value.trim();
            const disability = form.disability.value.trim();
            const localGovtOrigin = form.localGovtOrigin.value.trim();
            const passporty = document.getElementById("passport");

            const formData = new FormData();
            formData.append('firstname', firstname)
            formData.append('surname', surname)
            formData.append('email', email)
            formData.append('phone', phone)
            formData.append('gender', gender)
            formData.append('maritalStatus', maritalStatus)
            formData.append('nextOfKin', nextOfKin)
            formData.append('bloodGroup', bloodGroup)
            formData.append('disability', disability)
            formData.append('address', address)
            formData.append('stateOrigin', stateOrigin)
            formData.append('localGovtOrigin', localGovtOrigin)
            formData.append('passport', passporty.files[0])
            try {
              console.log(formData)
              const response = await fetch("/admin/records", {
                body: formData,
                method: "POST",
                'Content-Type': "multipart/form-data"
              })
              const data = await response.json()
              if (data.rec) {
                successFunc(` record was captured successfully `)
                refreshFunc()
              }

              if (data.mess) {
                errorFunc(` error ${data.mess}`)
              }

            } catch (e) {

            }
          })

        </script>
  </body>

</html>